@import "tailwindcss";
@plugin "daisyui" {
  themes: wireframe --default;
}
@plugin "daisyui/theme" {
  name: "wireframe";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-primary: #222;
}

@layer base {
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Change 'white' to your desired color */
    box-shadow: 0 0 0px 1000px white inset !important; /* For other browsers if needed */
    -webkit-text-fill-color: black !important; /* Optional: Adjust text color */
    color: black !important; /* Optional: Adjust text color */
  }
}

/* Dynamic Aspect Ratio Utility */
@utility aspect-* {
  @supports (aspect-ratio: 1 / 1) {
    aspect-ratio: --value(--aspect-ratio-*, ratio, [ratio]);
  }

  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      content: '';
      float: left;
      padding-top: calc(100% / (--value(--aspect-ratio-*, ratio, [ratio])));
    }

    &::after {
      clear: left;
      content: '';
      display: block;
    }
  }
}

@theme {
  --animate-fade-content: fadeContent 0.6s ease-in;

  @keyframes fadeContent {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
}
