<footer class="footer footer-horizontal footer-center p-10">
  <div>
    <p class="font-bold">
      Astro Boilerplate
      <br />
      Starter template for new Astro projects
    </p>
    <p>Copyright © {new Date().getFullYear()} - All right reserved</p>
  </div>
</footer>
